body {
  font-size: 100%;
  font-family: "Courier New", monospace;
}

.sideinfo {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #707070;
  overflow-x: hidden;
  padding: 1% 0;
}

.sideinfo a {
  float: right;
  padding: 0% 5% 3% 50%;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 500;
  color: #f1f1f1;
  display: block;
}

.sideinfo a:hover {
  color: #161616;
}

.sideinfo h1 {
  font-size: 1.75vw;
  float: right;
  font-weight: 500;
  font-style: italic;
  color: #f1f1f1;
  padding: 2.5% 5% 0% 0%;
}

.sideinfo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

.main {
  margin-left: 20%;
  padding: 2% 5%;
}

.main p {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}

.main h1 {
  font-size: 2em;
  line-height: 0px;
}

.main h6 {
  font-size: 0.75em;
  font-weight: 200;
  font-style: normal;
  line-height: 0px;
}

.pdf {
  margin-left: 20%;
  padding: 2%;
  text-align: center;
}