body {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
}

::selection {
    background: #000;
}

.topnav {
    z-index: 1;
    width: 70%;
    margin: 0 auto;
}

.topnav img {
    width: 12%;
    height: auto;
    float: left;
    padding: 10px 0;
}

header {
    background: #1a1a1a;
    border-bottom: 5px solid #fff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 45px;
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
}

nav li:after {
    content: '';
    display: block;
    margin: auto;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width 500ms ease, background-color 500ms ease;
}

nav li:hover:after {
    width: 100%;
    background: #fff;
}

.name {
    width: 70%;
    margin: 80px auto 70px auto;
    padding: 0;
}

.name h1 {
    margin: 0 0 0 -25px;
    padding: 0;
    font-size: 26em;
    line-height: 0.85em;
}

.about {
    width: 70%;
    height: auto;
    margin: 0 auto 80px auto;
    padding: 0;
    background: #1a1a1a;
    border: 5px solid #fff;
}

.about h1 {
    font-size: 12em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
}

.about p {
    font-size: 1em;
    text-align: justify;
    margin: 0;
    padding: 0 10% 2.5% 10%;
    line-height: 1.75em;
}

.gallery {
    width: 200px;
    margin: 5px;
    float: left;
    border: 2px solid #fff;
}

.gallery:hover {
    border: 2px solid #000;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}