body {
  font-size: 100%;
  font-family: "Courier New", monospace;
}

.sideinfo {
  height: 100%;
  width: 12.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #707070;
  overflow-x: hidden;
  padding: 0.625% 0;
}

.sideinfo a {
  float: right;
  padding: 0% 7.5% 3% 50%;
  text-decoration: none;
  font-size: 1.25em;
  color: #f1f1f1;
  display: block;
}

.sideinfo a:hover {
  color: #161616;
}

.sideinfo h1 {
  font-size: 2em;
  color: #f1f1f1;
  text-align: center;
}

.sideinfo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

.main {
  margin-left: 12.5%;
  padding: 1% 1%;
}